{% set library, height, width = 'charts_' ~ library ~ '/' ~ library, options.height, options.width %}
{{ attach_library("#{ library }") }}
<div {{ attributes }} {{ content_attributes }} style="{% if width is not empty %}width:{{ width }}px;{% endif %}{% if height is not empty %}height:{{ height }}px;{% endif %}"></div>
