{% set library, height, width = 'charts_' ~ chart_type ~ '/' ~ chart_type, height, width %}
{{ attach_library("#{ library }") }}
<div {{ attributes }} {{ content_attributes }} style="{% if width is not empty %}width:{{ width }}px;{% endif %}{% if height is not empty %}height:{{ height }}px;{% endif %}"></div>
